<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pace2car.shiro.dao.PermissionMapper" >
  <cache eviction="LRU" type="com.pace2car.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.pace2car.shiro.bean.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resource, name
  </sql>
  <select id="selectAllPermissions" resultType="com.pace2car.shiro.bean.Permission" useCache="true" >
    select
    <include refid="Base_Column_List" />
    from permission p
    order by p.resource
  </select>
  <select id="selectAllResources" resultType="java.lang.String" useCache="true" >
    select
      p.resource
    from permission p
  </select>
  <select id="selectAllResourcesByRole" resultType="java.lang.String" useCache="true" >
    select
      p.resource
    from permission p,role r,role_permission rp
    where r.id = rp.rid and
          p.id = rp.pid and
          r.short_name = #{shortName,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" useCache="true" >
    select
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pace2car.shiro.bean.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into permission (resource, name)
    values (#{resource,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pace2car.shiro.bean.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resource != null" >
        resource,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pace2car.shiro.bean.Permission" >
    update permission
    <set >
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pace2car.shiro.bean.Permission" >
    update permission
    set resource = #{resource,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>