<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pace2car.dao.RecruitInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pace2car.bean.RecruitInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="work_place" property="workPlace" jdbcType="VARCHAR" />
    <result column="min_salary" property="minSalary" jdbcType="INTEGER" />
    <result column="max_salary" property="maxSalary" jdbcType="INTEGER" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="number_of_recruit" property="numberOfRecruit" jdbcType="INTEGER" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, work_place, min_salary, max_salary, experience, education, number_of_recruit, 
    position_id, description, status
  </sql>
  <select id="selectRecruitInfos" resultType="RecruitInfo" parameterType="RecruitInfo" >
    select
        p.pos_name as posName,
        r.id as id,
        r.title as title,
        r.work_place as workPlace,
        r.min_salary as minSalary,
        r.max_salary as maxSalary,
        r.experience as experience,
        r.education as education,
        r.number_of_recruit as numberOfRecruit,
        r.position_id as positionId,
        r.description as description,
        r.status as status
    from recruit_info r
    left join position p on r.position_id = p.id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recruit_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recruit_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pace2car.bean.RecruitInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into recruit_info (title, work_place, min_salary, 
      max_salary, experience, education, 
      number_of_recruit, position_id, description, 
      status)
    values (#{title,jdbcType=VARCHAR}, #{workPlace,jdbcType=VARCHAR}, #{minSalary,jdbcType=DOUBLE}, 
      #{maxSalary,jdbcType=DOUBLE}, #{experience,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{numberOfRecruit,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pace2car.bean.RecruitInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into recruit_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="workPlace != null" >
        work_place,
      </if>
      <if test="minSalary != null" >
        min_salary,
      </if>
      <if test="maxSalary != null" >
        max_salary,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="numberOfRecruit != null" >
        number_of_recruit,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null" >
        #{minSalary,jdbcType=DOUBLE},
      </if>
      <if test="maxSalary != null" >
        #{maxSalary,jdbcType=DOUBLE},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="numberOfRecruit != null" >
        #{numberOfRecruit,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pace2car.bean.RecruitInfo" >
    update recruit_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        work_place = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null" >
        min_salary = #{minSalary,jdbcType=DOUBLE},
      </if>
      <if test="maxSalary != null" >
        max_salary = #{maxSalary,jdbcType=DOUBLE},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="numberOfRecruit != null" >
        number_of_recruit = #{numberOfRecruit,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pace2car.bean.RecruitInfo" >
    update recruit_info
    set title = #{title,jdbcType=VARCHAR},
      work_place = #{workPlace,jdbcType=VARCHAR},
      min_salary = #{minSalary,jdbcType=DOUBLE},
      max_salary = #{maxSalary,jdbcType=DOUBLE},
      experience = #{experience,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      number_of_recruit = #{numberOfRecruit,jdbcType=INTEGER},
      position_id = #{positionId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>